body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    padding-top: 100px;
    margin-bottom: 50px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: #b21e1e;
    margin-bottom: 20px;
}

.title span {
    animation: bounce 1s infinite alternate;
    display: inline-block;
    /* Menjadikan span menjadi inline-block agar animasi bounce berfungsi dengan baik */
}

.description {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #b21e1e;
    color: #fff;
    margin-right: 20px;
}

.btn-primary:hover {
    background-color: #991b1b;
}

.btn-secondary {
    background-color: transparent;
    color: #b21e1e;
    border: 2px solid #b21e1e;
}

.btn-secondary:hover {
    background-color: #b21e1e;
    color: #fff;
}

.footer {
    padding: 20px;
    background-color: #b21e1e;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Animasi bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Tinggi maksimum saat memantul */
    }
}
